certifi==2020.12.5
et-xmlfile==1.0.1
jdcal==1.4.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
natsort==7.1.1
numpy
olefile==0.46
openpyxl==3.0.6
pandas==1.2.1
Pillow
python-dateutil==2.8.1
pytz==2020.5
six
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
typing-extensions
wincertstore==0.2
xlrd==2.0.1
